.app-input {
  border-color: red;
  margin-top: 20px;
}

.align-text {
  text-align: left;
  font-size: 18px;
  line-height: 2.0;
  width: 92%;
}

form, footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  width: 100%;
}

button {
  margin-top: 16px;
  width: 100%;
}
