<app-layout>
  <button pButton label="Novo"></button>
  <div id="tabela" class="p-grid">
    <div class="p-col-11">
      <p-table [columns]="definicaoColunas" [value]="provas" selectionMode="multiple"
               [(selection)]="provasSelecionadas" rows=20 paginator="true">
        <ng-template pTemplate="header" let-colunas>
          <tr>
            <th *ngFor="let coluna of colunas">
              {{ coluna.header }}
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-prova let-colunas="columns">
          <tr [pSelectableRow]="prova">
            <td *ngFor="let coluna of colunas">
              {{ prova[coluna.field] }}
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <div id="botoes" class="p-col-1">
      <button pButton id="botao1" icon="pi pi-trash" class="ui-button-rounded"></button>
      <button pButton id="botao2" icon="pi pi-pencil" class="ui-button-rounded" [disabled]="!isSelected()"></button>
      <button pButton id="botao3" icon="pi pi-eye" class="ui-button-rounded" [disabled]="!isSelected()"></button>
    </div>
  </div>
</app-layout>
