<p-table [value]="avaliacoes">
  <ng-template pTemplate="header">
    <tr>
      <th>Código</th>
      <th>Título</th>
      <th>Nome do Candidato</th>
      <th>Data</th>
      <th>Aproveitamento</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-car>
    <tr>
      <td>{{ avaliacoes.vin }}</td>
      <td>{{ avaliacoes.year }}</td>
      <td>{{ avaliacoes.brand }}</td>
      <td>{{ avaliacoes.color }}</td>
      <td>{{ avaliacoes.color }}</td>
    </tr>
  </ng-template>
</p-table>
