.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0px 20px;
}

.inner-container {
  width: 100%;
  max-width: 1000px;
  height: 100vh;
  min-height: 100vh;
}
