<app-alert></app-alert>
<app-card [cabecalho]="necessitaCabecalho">
  <div class="caracteres">
    <span>
      <label>Login</label>
    </span>
  </div>

  <form #formLogin="ngForm" (ngSubmit)="requisitarLogin()" autocomplete="off">
    <div class="form-group" class="espacamento">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"
          ><i class="pi pi-envelope" style="line-height: 1.25;"></i
        ></span>
        <span class="ui-float-label">
          <input id="email-input" class="border-input" type="text" name="email" size="27" pInputText
            [(ngModel)]="usuario.email" required email #email="ngModel">
          <label for="email-input" class="caracteres">E-mail</label>
        </span>
      </div>
      <div *ngIf="verificaValidTouched(email)">
        E-mail é obrigatorio!
      </div>
    </div>

    <div class="form-group" class="espacamento">
      <div class="ui-inputgroup">
        <span class="ui-inputgroup-addon"
          ><i class="pi pi-key" style="line-height: 1.25;"></i
        ></span>
        <span class="ui-float-label">
          <input for="senha-input" class="border-input" type="password" name="senha" size="27" maxlength="20" pInputText
            [(ngModel)]="usuario.senha" required #senha="ngModel">
          <label id="senha-input" class="caracteres">Senha</label>
        </span>
      </div>
      <div *ngIf="verificaValidTouched(senha)">
        Senha é obrigatorio!
      </div>
    </div>

    <div class="espacamento">
      <span>
        <button
          pButton
          class="ui-button-danger"
          type="submit"
          [style]="{ width: '100%' }"
          label="ENTRAR"
          [disabled]="formLogin.invalid"
        ></button>
      </span>
    </div>
  </form>

  <p-footer>
    <div>
      <span>
        <p>
          <a
            routerLink="/cadastro"
            routerLinkActive="selected"
            class="caracteres"
            >Cadastrar</a
          >
        </p>
      </span>
      <span>
        <p>
          <a
            routerLink="/resetarsenha"
            routerLinkActive="selected"
            class="caracteres"
            >Esqueci minha senha</a
          >
        </p>
      </span>
      <span>
        <p>
          <a
            routerLink="/reenviaremail"
            routerLinkActive="selected"
            class="caracteres"
            >Reeviar e-mail de ativação</a
          >
        </p>
      </span>
    </div>
  </p-footer>
</app-card>
