<div class="nav-bar">
  <i
    (click)="onClickHamburguerMenu()"
    class="pi pi-bars"
  ></i>

  <div class="mid-navbar">
    <img
      src="../../../assets/logo-basis.png"
      alt="BASIS"
      (click)="onClickLogo()"
    >
    <h1> {{ title }} </h1>
  </div>

    <img
      (click)="menu.toggle($event)"
      alt="PERFIL"
      height="40px"
      src="../../../assets/profile.svg"
    />
  </div>
  <p-menu
    #menu
    [model]="items"
    [popup]="true"
  ></p-menu>
<div class="sidebar">
  <div *ngFor="let menuItem of menuSideBar">
    <a
      *ngIf="verificaPermissao(menuItem.permissao)"
      type="button"
      id="primeiro"
      pButton
      label="{{ menuItem.descricao }}"
      [routerLink]="menuItem.path"
      class="btn-sidebar"
      (click)="toogleSidebar()"
    ></a>
  </div>
</div>
