<div class="container">
  <div class="nav-bar">
    <i (click)="onClickHamburguerMenu()" class="pi pi-bars"></i>
    <h1>{{ title }}</h1>

    <img
      (click)="menu.toggle($event)"
      alt="PERFIL"
      height="40px"
      src="../../../assets/profile.svg"
    />
  </div>
  <p-menu #menu [model]="items" [popup]="true"></p-menu>
</div>
<div class="sidebar">
  <div *ngFor="let menuItem of menuSideBar">
    <a
      *ngIf="verificaPermissao(menuItem.permissao)"
      type="button"
      id="primeiro"
      pButton
      label="{{ menuItem.descricao }}"
      href="{{ menuItem.path }}"
      class="btn-sidebar"
    ></a>
  </div>
</div>

<!--
  <a
    type="button"
    id="primeiro"
    pButton
    label="{{ labelAvaliacao.nome }}"
    class="btn-sidebar"
  ></a>
  <div *ngIf="!isAdmin">
    <a
      type="button"
      *ngFor="let label of labels"
      pButton
      label="{{ label.nome }}"
      class="btn-sidebar"
      href="{{ label.url }}"
    ></a>
  </div> -->
