.nav-bar {
  height: 60px;
  background-color: var(--color-primary);
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .25);
}

.nav-bar > i, .nav-bar h1 {
  color: white;
}

.nav-bar > img {
  filter: invert(1);
}

.nav-bar > i {
  font-size: 30px;
}

.mid-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mid-navbar img {
  height: 40px;
  margin-right: 12px;
}

.nav-bar img:hover, .nav-bar > i:hover {
  cursor: pointer;
}

@media screen and (max-width: 640px) {
  .nav-bar > h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  .nav-bar > h1 {
    font-size: 16px;
  }
}
