<app-card>

  <div class="caracteres">
    <span>
      <label>Login</label>
    </span>
  </div>

  <div class="espacamento"  id="leftText">
    <span>
      <label class="caracteres">E-mail</label>
      <input class="borderInput" type="text" size="30" pInputText>
    </span>
  </div>

  <div class="espacamento" id="leftText">
    <span>
      <label class="caracteres" >Senha</label>
      <input class="borderInput" type="password" size="30" maxlength="20" pInputText>
    </span>

  </div>

  <div class="espacamento">
    <span>
      <button pButton class="ui-button-danger" type="submit" [style]="{width: '100%'}" label="ENTRAR"></button>
    </span>
  </div>

  <p-footer>
    <div>
      <span><p class="caracteres">Cadastrar</p></span>
      <span><p class="caracteres">Esqueci minha senha</p></span>
      <span><p class="caracteres">Reeviar e-mail de ativação</p></span>
    </div>
  </p-footer>

</app-card>
