<p-toast (onClose)="rejeitar()" [baseZIndex]="9000" [hideTransitionOptions]="'200ms'" [modal]="true"
  [showTransitionOptions]="'200ms'" key="c" position="center">
  <ng-template let-message pTemplate="message">
    <div style="text-align: center;">
      <h3>{{ message.summary }}</h3>
      <p>{{ message.detail }}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <button (click)="confirmar()" class="ui-button-secondary" label="Ok" pButton type="button"></button>
      </div>
    </div>
  </ng-template>
</p-toast>
