<p>alert works!</p>
<p-toast
  position="center"
  key="c"
  (onClose)="onReject()"
  [modal]="true"
  [baseZIndex]="5000"
>
  <ng-template let-message pTemplate="message">
    <div style="text-align: center;">
      <i class="pi {{ tiposimbolo }}" style="font-size: 3em;"></i>
      <h3>{{ message.summary }}</h3>
      <p>{{ message.detail }}</p>
    </div>
    <div class="ui-g ui-fluid">
      <div class="ui-g-6">
        <button
          type="button"
          pButton
          (click)="onConfirm()"
          label="Yes"
          class="ui-button-success"
        ></button>
      </div>
      <div class="ui-g-6">
        <button
          type="button"
          pButton
          (click)="onReject()"
          label="No"
          class="ui-button-secondary"
        ></button>
      </div>
    </div>
  </ng-template>
</p-toast>
<button
  type="button"
  pButton
  (click)="showConfirm()"
  label="Confirm"
  class="ui-button-warning"
></button>
