    <div class="container">
      <p>Login</p>
    </div>

    <div id="form-container">
      <div id="form-header-container">
        <p>Nome</p>
      </div>

      <span class="ui-float-label">
        <input id="float-input" type="text" size="30" pInputText>
      </span>
    </div>

    <div id="form-container">
      <div id="form-header-container">
        <p>Email</p>
      </div>

      <span class="ui-float-label">
        <input id="float-input" type="email" size="30" pInputText>
      </span>
    </div>

    <div id="form-container">
      <div id="form-header-container">
        <p>Senha</p>
      </div>

      <span class="ui-float-label">
        <input type="password" pPassword />
      </span>
    </div>

    <div id="buttons">
      <p-button label="Cancelar" styleClass="ui-button-danger"></p-button>
      <p-button label="Confirmar" styleClass="ui-button-success"></p-button>
    </div>
