    <form class="ui-inputgroup">
      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-user" style="line-height: 1.25;"></i></span>
            <span class="ui-float-label">
              <input id="float-input" type="text" size="27" pInputText [(ngModel)]="usuario.nome" name="nome">
              <label for="float-input">Nome</label>
            </span>
        </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-id-card" style="line-height: 1.25;"></i></span>
            <span class="ui-float-label">
              <input id="float-input" type="text" size="27" pInputText [(ngModel)]="usuario.cpf" name="cpf">
              <label for="float-input">CPF</label>
            </span>
        </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-lock" style="line-height: 1.25;"></i></span>
            <span class="ui-float-label">
              <input id="float-input" type="text" size="27" pInputText [(ngModel)]="usuario.permissao" name="permissao">
              <label for="float-input">Token</label>
            </span>
        </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-envelope" style="line-height: 1.25;"></i></span>
            <span class="ui-float-label">
              <input id="float-input" type="email" size="27" pInputText [(ngModel)]="usuario.email" name="email">
              <label for="float-input">Email</label>
            </span>
        </div>
      </div>

      <div class="ui-g-12 ui-md-4">
        <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="pi pi-key" style="line-height: 1.25;"></i></span>
            <span class="ui-float-label">
              <input id="float-input" type="password" size="27" pInputText [(ngModel)]="usuario.senha" name="senha">
              <label for="float-input">Senha</label>
            </span>
        </div>
      </div>

    </form>

    <div id="buttons">
      <button pButton type="button" label="Confirmar" (click)="save()" class="ui-button-success"></button>
      <!-- <button pButton type="submit" label="Confirmar"class="ui-button-success"></button> -->
      <button pButton type="button" label="Cancelar" class="ui-button-danger"></button>
    </div>
