p {
  color: red;
}

input {
  border-color: red;
}

form {
  display: flex;
  flex-direction: column;
  margin-left: initial;
}

#buttons {
  display: flex;
  flex-direction: column;
}
imput {
  margin-top: 10px;
}
button {
  margin-bottom: 10px;
}
