<app-alert></app-alert>
<button (click)="openDialog(true,null)" class="btn-margin" label="Novo" pButton></button>

<div class="p-grid">
  <div class="p-col-11">
    <p-table [(selection)]="questaoSelecionada" [value]="questoes.content" paginator="true" rows="20"
             selectionMode="single">
      <ng-template pTemplate="header">
        <tr>
          <th scope="col">Código</th>
          <th scope="col">Descrição</th>
          <th scope="col">Senioridade</th>
          <th scope="col">Tipo Questão</th>
        </tr>
      </ng-template>
      <ng-template let-questao pTemplate="body">
        <tr [pSelectableRow]="questao">
          <td>{{questao["id"]}}</td>
          <td>{{questao["descricao"]}}</td>
          <td>{{questao["descricaoSenioridade"]}}</td>
          <td>{{questao["descricaoTipo"]}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="p-col-1" id="botoes">
    <button (click)="excluir(questaoSelecionada.id)" [disabled]="!isOneSelected()" class="ui-button-rounded"
            icon="pi pi-trash"
            id="botao1" pButton type="button"></button>
    <button (click)="openDialog(true,questaoSelecionada.id)" [disabled]="!isOneSelected()" class="ui-button-rounded"
            icon="pi pi-pencil"
            id="botao2" pButton type="button"></button>
    <button (click)="openDialog(false,questaoSelecionada.id)" [disabled]="!isOneSelected()" class="ui-button-rounded"
            icon="pi pi-eye"
            id="botao3" pButton type="button"></button>
  </div>
</div>

<app-questao #DialogCadastrar></app-questao>
