<p-card>
  <div class="p-grid p-justify-between" id="campos">
    <div>
      <label for="nome">Nome</label><br>
      <input [(ngModel)]="perfil.nome" id="nome" pInputText type="text">
    </div>
    <div>
      <label for="email">E-Mail</label><br>
      <input [(ngModel)]="perfil.email" id="email" pInputText type="email">
    </div>
    <div>
      <label for="senha">Senha</label><br>
      <input [(ngModel)]="perfil.senha" id="senha" pInputText type="password">
    </div>
  </div>
  <br>
  <div class="p-grid p-justify-between" id="botoes">
    <p-button label="CANCELAR" styleClass="ui-button-secondary"></p-button>
    <p-button (onClick)="onSubmit()" label="CONFIRMAR" styleClass="ui-button-success"></p-button>
  </div>
</p-card>
