<p-card>
  <div id="campos" class="p-grid p-justify-between">
    <div><label>Nome <br>
      <input type="text" name="nome" pInputText/></label></div>
    <div><label>E-Mail <br>
      <input type="email" name="email" pInputText/></label></div>
    <div><label>Senha <br>
      <input type="password" name="senha" pInputText/></label></div>
  </div>
  <br>
  <div id="botoes" class="p-grid p-justify-between">
    <p-button label="CANCELAR" styleClass="ui-button-secondary"></p-button>
    <p-button label="CONFIRMAR" styleClass="ui-button-success"></p-button>
  </div>

</p-card>
