.linha-avaliacao {
  display: flex;
  justify-content: space-between;
}

.grupoBotoes {
  display: flex;
  flex-direction: column;
}

.botao-footer {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.card-questao {
  margin-top: 15px;
}
