<p-dialog style="width: 800px;" header="{{ returnTitulo() }}" [(visible)]="exibir">
  <app-alert></app-alert>
  <p-card>
    <div class="linha-avaliacao">
      <div>Nome: {{ returnNome() }}</div>
      <div>
        Data avaliacao: {{ returnData() }}
      </div>
    </div>
  </p-card>
  <form class="card-questao" *ngFor="let questao of prova.questoes; let i = index">
    <p-card header="Questao {{ i + 1 }}">
      {{ questao.descricao }}
      <div class="grupoBotoes">
        <p-radioButton name='{{i}}' value="1" [(ngModel)]="avaliacaoPreenchida.respostas[i]"
          label="{{ questao.alternativa1 }}">
        </p-radioButton>
        <p-radioButton name='{{i}}' value="2" [(ngModel)]="avaliacaoPreenchida.respostas[i]"
          label="{{ questao.alternativa2 }}">
        </p-radioButton>
        <p-radioButton name='{{i}}' value="3" [(ngModel)]="avaliacaoPreenchida.respostas[i]"
          label="{{ questao.alternativa3 }}">
        </p-radioButton>
        <p-radioButton name='{{i}}' value="4" [(ngModel)]="avaliacaoPreenchida.respostas[i]"
          label="{{ questao.alternativa4 }}">
        </p-radioButton>
        <p-radioButton name='{{i}}' value="5" [(ngModel)]="avaliacaoPreenchida.respostas[i]"
          label="{{ questao.alternativa5 }}">
        </p-radioButton>
      </div>
    </p-card>
  </form>
  <div class="botao-footer">
    <button class="ui-button-secondary" pButton type="button" label="Cancelar" (click)="fecharDialog()"></button>
    <button class="ui-button-info" pButton type="button" label="Finalizar" (click)="finalizarProva()"></button>
  </div>
</p-dialog>
