<p-dialog
  header="{{ hader }}"
  [modal]="true"
  [(visible)]="exibir"
  [style]="{ width: '60vw' }"
>
  <div class="ui-g">
    <form [formGroup]="formQuestao" novalidate>
      <div class="ui-g-10">
        <h3>Questão</h3>
        <div class="ui-g-10">
          <div *ngIf="isQuestaoEditando">
            <div class="border-label">
              <span style="font-weight: bold;">Código: </span>
              <label>{{ getControlLabel("id") }}</label>
            </div>
          </div>
          <small>Descricão</small>
          <span class="ui-float-label margem-top">
            <textarea
              rows="5"
              cols="68"
              pInputTextarea
              autoResize="autoResize"
              formControlName="descricao"
              [readOnly]="isQuestaoVisualizando"
              [(ngModel)]="questao.descricao"
              id="descricao"
            ></textarea>
          </span>
        </div>
        <div class="ui-g ui-g-5">
          <span class="ui-float-label dropdown">
            <p-dropdown
              [options]="senioridades"
              optionLabel="label"
              placeholder="Selecione uma senioridade"
              formControlName="senioridade"
              [(ngModel)]="questao.idSenioridade"
              id="idSenioridade"
            >
            </p-dropdown>
          </span>
        </div>
        <div class="ui-g ui-g-5">
          <span class="ui-float-label dropdown">
            <p-dropdown
              [options]="tipoQuestoes"
              optionLabel="label"
              placeholder="Selecione o tipo de questão"
              formControlName="tipoQuestao"
              [(ngModel)]="questao.idTipoQuestao"
              id="idTipoQuestao"
            >
            </p-dropdown>
          </span>
        </div>

        <div class="ui-g estilo-radio-button">
          <h3 class="first">Alternativas da Questão</h3>
          <div class="ui-g-12">
            <div class="ui-g-2">
              <p-radioButton
                name="group1"
                inputId="Option 1"
                value="1"
                formControlName="resposta"
                [(ngModel)]="questao.resposta"
                id="resposta"
              >
              </p-radioButton>
            </div>
            <div class="ui-g-10">
              <span class="ui-float-label margem-top">
                <input
                  id="float-input1"
                  type="text"
                  size="60"
                  pInputText
                  formControlName="alternativa1"
                  [readOnly]="isQuestaoVisualizando"
                  [(ngModel)]="questao.alternativa1"
                  id="alternativa1"
                />
                <label for="float-input">Alternativa_1</label>
              </span>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-2">
              <p-radioButton
                name="group1"
                inputId="Option 1"
                value="2"
                formControlName="resposta"
              >
              </p-radioButton>
            </div>
            <div class="ui-g-10">
              <span class="ui-float-label margem-top">
                <input
                  id="float-input2"
                  type="text"
                  size="60"
                  pInputText
                  formControlName="alternativa2"
                  [readOnly]="isQuestaoVisualizando"
                  [(ngModel)]="questao.alternativa2"
                  id="alternativa2"
                />
                <label for="float-input">Alternativa_2</label>
              </span>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-2">
              <p-radioButton
                name="group1"
                inputId="Option 1"
                value="3"
                formControlName="resposta"
              >
              </p-radioButton>
            </div>
            <div class="ui-g-10">
              <span class="ui-float-label margem-top">
                <input
                  id="float-input3"
                  type="text"
                  size="60"
                  pInputText
                  formControlName="alternativa3"
                  [readOnly]="isQuestaoVisualizando"
                  [(ngModel)]="questao.alternativa3"
                  id="alternativa3"
                />
                <label for="float-input">Alternativa_3</label>
              </span>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-2">
              <p-radioButton
                name="group1"
                inputId="Option 1"
                value="4"
                formControlName="resposta"
              >
              </p-radioButton>
            </div>
            <div class="ui-g-10">
              <span class="ui-float-label margem-top">
                <input
                  id="float-input4"
                  type="text"
                  size="60"
                  pInputText
                  formControlName="alternativa4"
                  [readOnly]="isQuestaoVisualizando"
                  [(ngModel)]="questao.alternativa4"
                  id="alternativa4"
                />
                <label for="float-input">Alternativa_4</label>
              </span>
            </div>
          </div>
          <div class="ui-g-12">
            <div class="ui-g-2">
              <p-radioButton
                name="group1"
                inputId="Option 1"
                value="5"
                formControlName="resposta"
              >
              </p-radioButton>
            </div>
            <div class="ui-g-10">
              <span class="ui-float-label margem-top">
                <input
                  id="float-input5"
                  type="text"
                  size="60"
                  pInputText
                  formControlName="alternativa5"
                  [readOnly]="isQuestaoVisualizando"
                  [(ngModel)]="questao.alternativa5"
                  id="alternativa5"
                />
                <label for="float-input">Alternativa_5</label>
              </span>
            </div>
          </div>
        </div>
        <button
          *ngIf="!isQuestaoVisualizando"
          pButton
          type="button"
          label="Salvar"
          class="ui-button-raised margem-top"
          [disabled]="formQuestao.invalid"
          (click)="persistir()"
        ></button>
        <button
          pButton
          type="button"
          label="Cancelar"
          class="ui-button-raised margem-top"
          (click)="cancelar()"
          style="margin-left: 15px;"
        ></button>
      </div>
    </form>
  </div>
</p-dialog>
