html, body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: rgb(247, 247, 247);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --color-primary: #ff5722;
  --color-secondary: whitesmoke;
}
