/* You can add global styles to this file, and also import other style files */
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.displayEmail{
  display: flex;
  flex-direction: column;
  color: red;
}

.container p{
  font-weight: bold;
  color: red;
}

.container button {
  margin: 10px;
}
